<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Vida Saludable{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('img/favicon.ico') }}"> {# Opcional #}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/script.js') }}" defer></script>
    {% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
